.score-board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    font-family: ´Quicksand´, sans-serif;
}

.user-label,
.computer-label,
.user-score,
.computer-score {
    padding: 10px;
    text-align: center;
}


.user-label,
.computer-label {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.user-label {
    color: #009780;
}

.computer-label {
    color: #2d0095;
}

.user-score,
.computer-score {
    font-size: 2em;
}

.controls {
    display: flex;
}

.control-button {
    flex-grow: 1;
    border: none;
    background: #eee;
    cursor: pointer;
    font-size: 1.2em;
}

.control-button:hover {
    background: #ddd;
}

.control-button:active {
    background: #ccc;
}